@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");

:root {
  --theme-color-dark: #22293d;
  --light-gray: #8f939e;
  --background-white: white;
  --large-icon-size: 12px;
  --small-con-size: 0.7em;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

p,
li {
  font-size: small;
  font-weight: 500;
}

h3 {
  color: var(--theme-color-dark);
  font-weight: 600;
}

b {
  color: var(--theme-color-dark);
}

ul {
  list-style-type: none;
  padding: 0;
}

.light-font,
.light-font p {
  font-weight: 400;
  font-size: x-small;
  color: var(--light-gray);
}

.container {
  width: 100%;
  height: 100%;
}

.product-figure {
  margin: 0 !important;
  border: 0 !important;
}

.product-image {
  height: 250px;
  width: 100%;
}

.product-details {
  padding: 1px 10px;
}

.product-figure .purchased p {
  margin: 0;
  font-size: x-small;
  font-weight: 300;
}

.product-figure .purchased {
  color: var(--background-white);
  background-color: var(--theme-color-dark);
  position: absolute;
  padding: 5px 7px;
  border-radius: 0 0 10px 0;
}

.call-to-action {
  text-decoration: none;
  text-align: center;
  color: var(--background-white);
  background-color: var(--theme-color-dark);
  padding: 12px;
  border-radius: 6px;
  display: block;
  margin: 3% auto;
}

.price-and-id {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-details-title h3 {
  margin: 3px 0;
}

.additonal-module-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.additonal-module-text img {
  height: var(--large-icon-size);
  width: var(--large-icon-size);
}

.additonal-module-text p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 7px;
}

.product-description h3 {
  margin-bottom: 5px;
  margin-top: 1.7em;
}

.product-description .tick-list {
  margin-top: 0;
  margin-bottom: 2em;
}

.house-detail-list {
  margin-bottom: 30px;
}
.house-detail-list ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  margin-top: 0;
}

.house-detail-list ul li img {
  height: var(--small-con-size);
  width: var(--small-con-size);
  margin: auto 0;
}

.house-detail-list ul li {
  margin-right: 5px;
  width: 40px;
  display: flex;
  flex-direction: row;
}

.house-detail-list ul li p {
  margin: auto 5px;
}

.additonal-module p {
  margin-bottom: 0;
}

.price p {
  margin-bottom: 0;
}

.price h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.tick-list li {
  color: var(--light-gray);
  padding: 5px 0;
}

.tick-list li:before {
  content: "";
  display: inline-block;
  height: var(--large-icon-size);
  width: var(--large-icon-size);
  background-size: var(--large-icon-size);
  background-image: url("../images/Tick_Circle-512.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  margin: 3% auto;
  width: 100%;
  padding: 10px;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1.3px solid var(--light-gray);
  border-radius: 5px;
  background-color: var(--background-white);
  background-image: url("../images/expand.png");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 1em auto, 100%;
}

.select::-ms-expand {
  display: none;
}
