@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");

:root {
  --theme-color-dark: #22293d;
  --light-gray: #8f939e;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

p,
li {
  font-size: small;
  font-weight: 500;
}

h3 {
  color: var(--theme-color-dark);
  font-weight: 600;
}

b {
  color: var(--theme-color-dark);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  color: var(--light-gray);
  padding: 5px 0;
}

.light-font,
.light-font p {
  font-weight: 400;
  font-size: x-small;
  color: var(--light-gray);
}

.container {
  width: 100%;
  height: 100%;
}

.product-figure {
  margin: 0 !important;
  border: 0 !important;
}

.product-image {
  height: 250px;
  width: 100%;
}

.product-details {
  padding: 1px 10px;
}

.product-figure .purchased p {
  margin: 0;
  font-size: x-small;
  font-weight: 300;
}

.product-figure .purchased {
  color: white;
  background-color: var(--theme-color-dark);
  position: absolute;
  padding: 5px 7px;
  border-radius: 0 0 10px 0;
}

.call-to-action {
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: var(--theme-color-dark);
  padding: 12px;
  border-radius: 6px;
  display: block;
  margin: 3% auto;
}

.price-and-id {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-details-title h3 {
  margin: 3px 0;
}

.product-description h3 {
  margin-bottom: 5px;
  margin-top: 2em;
}

.product-description ul {
  margin-top: 0;
  margin-bottom: 2em;
}
